@using SportsLibrary.Models
@using SportsLibrary.Utilities;
@using SportsLibrary.ViewModels;
@model SportsLibrary.ViewModels.RepoViewModel<Category, Team>

@{
    ViewData["Title"] = "Index";
    var name = ViewData["Name"] as string;
    var contents = ViewData["Contents"] as List<KeyValuePair<Category, ICollection<Team>>> 
    ?? throw new NullReferenceException(nameof(ViewData));
}

<h1>Sport: @name </h1>

<p>
    @Html.ActionLink("Add Category", "AddCategory", "Sport")
</p>
@foreach(var kvp in contents)
{
    var _kjson = JsonUtils.Serialize(kvp.Key);
    <div style="display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem, 0;
        border: .25rem solid black">
        <div style="display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            border-bottom: .25rem solid black">
            <h4>
                Name: @kvp.Key.Name
            </h4>
            <h4>
                Description: @kvp.Key.Description
            </h4>
            <h4>
                @Html.ActionLink("Add Team", "AddTeam", "Sport", new{
            json = _kjson
            })
            </h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        View
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in kvp.Value)
                {
                    var count = kvp.Value.Count();
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => team.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => team.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => count)
                        </td>
                        <td>
                            @Html.ActionLink("View Members", "ViewMembers", "Sport", new
                    {
                    control = "Team",
                    name = team.Name
                    })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
